{% load staticfiles %}
{% load static from staticfiles %}

<html>
<head>
    <title>Add Course</title>
</head>
<body>
    <h1>Add Course</h1>
    <link rel="stylesheet" type="text/css" href="{%static 'style2.css'%}" />
    {% if form.errors %}
        <p style="color: red;">
        Please enter field{{form.errors|pluralize}}correctly.
        </p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" class="theAwesome">
    </form>
</body>
</html>
